.Navigation-container {
    position: relative;
    /* padding-bottom: 10px; */
    width: 100%;
    height: 100%;
    margin-bottom: -20px;
}

.list-navigation {
    list-style: none;
}

.menu {
    /* position:relative; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    list-style: none;
    background-color: white;
    padding-top: 27px;
    padding-bottom: 32px;
    margin-top: -4px;
    /* justify-content: space-between; */
    padding-inline-start: 500px;
    margin-bottom: 20px;

    /* bottom: 150px; */
    /* left: 300px; */
    z-index: 6;
    -moz-box-shadow: 0 0 5px 2px #9d9d9d;
    -webkit-box-shadow: 0 0 3px 5px #9d9d9d;
    box-shadow: 0 0 4px 0px #9d9d9d;
}

.right-menu {
    position: absolute;
    padding-left: 0px;
    width: 200px;
    height: auto;
    left: 100px;
    bottom: 22px;
}

.spalg-menu {
    position: absolute;
    left: 30px;
    bottom: 3px;
    width: 75px;
    height: auto;
}

.left-menu {
    padding-left: 20px;
    padding-right: 20px;
    right: 50px;
}

li {
    font-style: normal;
    font-weight: 500;
    font-size: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigation {
    /* position: relative; */
    /* padding-bottom: 10px; */
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
}

.iconnav {
    width: 15px;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.icon-container {
    position: absolute;
    right: 5px;

    margin-left: 0;
    display: block;

    justify-content: space-between;
}

.border-tv {
    position: absolute;
    right: 140px;
    top: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: -15px;
    /* padding-right: 15px; */
    /* border-width: 10px; */
    border: 10px;
    border-radius: 0.2em;

    /* border-color: rgb(67, 98, 255); */
    background-color: rgb(99, 123, 241);
}
.option-icon {
    display: none;
}
@media only screen and (max-width: 46.1785em) {
    .left-menu{
        display: none;
    }
   
    .option-icon {
        display: flex;
    }
    .option-img{
        position: absolute;
        width: 20px;
        height: auto;
        right:10px;
        top:15px;
    }
    .header-ic2{
        top:15px;
    }
}